body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.bodylogin {
  background-color: #27ae60;
  background-image: url("/img/icon/header_pattern.png");
  background-blend-mode: color-dodge;
  justify-self: center;
  padding-top: 5%;
  padding-bottom: 5%; }

.page-login .row {
  margin-left: 10px;
  margin-right: 10px; }

.page-login .logo {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.page-login .box-login {
  padding: 30px;
  background: white;
  border-radius: 5px; }
  .page-login .box-login .form-login {
    padding: 0 30px 30px 30px;
    padding-bottom: 0; }
  .page-login .box-login .forget-password {
    padding: 10px; }
