<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js"></script>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card-header">
            <span class="font-weight-bold">Data Statistik</span>
        </div>
        <div class="card-body">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript" src="/sekawan/js/chartjs.js"></script>