<div class="page-login">
    <div class="container">
        <div class="row">
            <div class="box-login shadow col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div id="login" class="form-login">
                    <form action="" id="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="Password" placeholder="Password" name="password" autocomplete="off">
                        </div>
                        <button type="submit" id="submit-login" class="btn btn-dark btn-block">LOG IN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/sekawan/js/login.js"></script>