<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js"></script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="" id="rent-form">
          <div class="form-group row mt-5">
            <label for="mobil" class="col-sm-2 col-form-label text-right">Mobil</label>
            <div class="col-sm-6">
              <select name="mobil" id="mobil" class="form-control"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="driver" class="col-sm-2 col-form-label text-right">Driver</label>
            <div class="col-sm-6">
              <select name="driver" id="driver" class="form-control"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="approve1" class="col-sm-2 col-form-label text-right">Approve 1</label>
            <div class="col-sm-6">
              <select name="approve1" id="approve1" class="form-control"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="approve2" class="col-sm-2 col-form-label text-right">Approve 2</label>
            <div class="col-sm-6">
              <select name="approve2" id="approve2" class="form-control"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="ambil" class="col-sm-2 col-form-label text-right">Ambil</label>
            <div class="col-sm-8">
              <input type="date" id="ambil" name="ambil">
            </div>
          </div>
          <div class="form-group row">
            <label for="kembalikan" class="col-sm-2 col-form-label text-right">Kembalikan</label>
            <div class="col-sm-8">
              <input type="date" id="kembalikan" name="kembalikan">
            </div>
          </div>
          <div class="form-group row">
            <label for="Title" class="col-sm-2 col-form-label text-right font-italic"></label>
            <div class="col-sm-6">
              <button type="button" id="submit" class="btn btn-success">Rent</button>
            </div>
          </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/sekawan/js/rent.js"></script>